html{
    max-width:1440px;
    width:100%;
    min-width:1100px;
    margin:auto;
    background-color:#CCEEFF ;
    background-image: url(../img/MHWIB_BG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #99FFFF;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000000;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #76DEFF;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 70px;
   padding-top: 130px;
   padding-bottom: 110px;
   background: #ffffff;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-170%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 20px 0;
   font-size: 30px;
 }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.logo{
    width:172.6px;
    height:100px;
    margin-left: 700%;
}

body{
    max-width:1440px;
    width:100%;
   
}
footer{
    max-width:1440px;
    width:100%;
    
}
.container{
    max-width:1440px;
    width:100%;
  
}

.titlebar{
    display:flex;
    background-color:#FFFFFF;
    max-width:1440px;
    max-width:100%;
    height:100px;
}
.cover{
    max-width:1440px;
    width:100%;
}

.coverbar{
    display:flex;
    flex-direction:column;
}
.mainmonster{
    display:flex;
    flex-wrap:wrap;
    max-width:1440px;
    width:100%;
    margin-top: 50px;
    padding-left:5%;
    padding-right:5%;
}
.monstericon{
    width:100%;
    
}
.monsterbox{
    display:flex;
    flex-direction:column;
    width:28%;
    margin-right:3%;
    margin-bottom:20px;
}
.back{
    display: inline-block;
    width: 100%;
    height:50px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-image:url(../img/introbg2.png);
    background-size:200% 100%;
}
.backword{
    margin: 0px;
    font-size:30px;
    padding-left:40%;
    padding-top:3%;
    font-family:"DFKai-SB";
    color: whitesmoke;
}
.backbox{
    display:flex;
    flex-direction:column;
    width:20%;
    margin-left:70%;
}
.monsterintro{
    display: inline-block;
    width: 100%;
    height:50px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 3%;
    background-image:url(../img/introbg2.png);
    background-size:100% 100%;
    
}
.monsterword{
    margin: 0px;
    padding-top:2%;
    font-size:30px;
    font-family:serif;
   font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.footer{
    display:flex;
    max-width:1440px;
    width:100%;
    background-color: #000000;
    height:46px;
    justify-content: flex-end;
}

.footer2{
   display:flex;
   max-width:1440px;
   width:100%;
    background-color: #000000;
    height:94px;
    justify-content: space-around;
}
.more{
    display:inline-block;
    flex-direction:row;
    width:250px;
    height:64px;
    font-size:36px;
    margin-top:40px;
    margin-left:50px;    
    color:#FFFFFF;
    font-family:Microsoft JhengHei;
    
}
.smallps4{
    width:50px;
}
.smallps4logo{
    width:30px;
}


.fbicon{
    display: inline-block;
    width:64px;
    height: 64px;
    margin-top:30px;
    margin-left:5%;
    flex-grow: unset;
}
.yticon{
    display: inline-block;
    width:64px;
    height: 64px;
    margin-top:30px;
    margin-left:5px;
}
.capcomlogo{
    display: inline-block;
    width: 350px;
    height: 64px;
    margin-top:30px;
    margin-left:45%;
    justify-content: flex-end;
}
.capaomword{
    font-size:13px;
    font-family:Microsoft JhengHei;
    color: #FFFFFF;
  margin-right:10px;
}

.monster:hover{
    color:#99FFFF;
}
@media (max-width:768px){
    html{
        max-width:768px;
        width:100%;
        min-width:650px;
        margin:auto;
        background-color:#CCEEFF ;
        background-image: url(../img/MHWIB_BG.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    #menuToggle
    {
      display: block;
      position: relative;
      top: 20px;
      left: 20px;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: #99FFFF;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #000000;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #76DEFF;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
     #menu
     {
       position: absolute;
       width: 300px;
       margin: -100px 0 0 -50px;
       padding-left: 60px;
     padding-right: 0px;
       padding-top: 200px;
       padding-bottom: 700px;
       background: #ffffff;
       list-style-type: none;
       -webkit-font-smoothing: antialiased;
       /* to stop flickering of text in safari */
       
       transform-origin: 0% 0%;
       transform: translate(-100%, 0);
       
       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     }
     
     #menu li
     {
       padding: 20px 0;
       font-size: 26px;
     }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
    header{
        max-width:768px;
        width:100%;
        min-width:650px;
    }
    body{
        max-width:768px;
        width:100%;
        min-width:650px;
    }
    footer{
        max-width:768px;
        width:100%;
        min-width:650px;
    }
    .container{
        max-width:768px;
        width:100%;
        min-width:650px;
    }
    .logo{
        width:91px;
        height:50px;
        margin-left: 700%;
    }
    
    .titlebar{
        display:flex;
        background-color:#FFFFFF;
        max-width:768px;
        width:100%;
        height:50px;  
        
    }
    .cover{
        max-width:768px;
        width:100%;
        
    }
    .coverbar{
        max-width:768px;
        display:flex;
        flex-direction:column;
        
    }
    .mainmonster{
        display:flex;
        flex-wrap:wrap;
        max-width:768px;
        width:100%;
        margin-top: 30px;
        padding-left:5%;
        padding-right:5%;
    }
    .monstericon{
        width:100%;
    }
    .monsterbox{
        display:flex;
        flex-direction:column;
        width:28%;
        margin-right:3%;
        margin-bottom:10px;
    }
    .back{
        display: inline-block;
        width: 100%;
        height:30px;
        margin-top: 0px;
        margin-bottom: 10px;
        background-image:url(../img/introbg2.png);
        background-size:200% 100%;
    }
    .backword{
        margin: 0px;
        font-size:20px;
        padding-left:50%;
        padding-top:2%;
        font-family:"DFKai-SB";
        color: whitesmoke;
    }
    .backbox{
        display:flex;
        flex-direction:column;
        width:20%;
        margin-left:70%;
    }
    .monsterintro{
        display: inline-block;
        width: 100%;
        height:30px;
        margin-top: 10px;
        margin-bottom: 50px;
        margin-right: 3%;
        background-image:url(../img/introbg2.png);
        background-size:100% 100%;
        
    }
    .monsterword{
        margin: 0px;
        padding-top:2%;
        font-size:20px;
        font-family:serif;
       font-weight: bold;
        color: whitesmoke;
        text-align: center;
    }

    .footer{
        display:flex;
        max-width:768px;
        width:100%;
        background-color: #000000;
        height:0px;
        justify-content: flex-end;
    }
    
    .footer2{
       display:flex;
       max-width:768px;
       width:100%;
       background-color: #000000;
       height:75px;
       justify-content: space-around;
    }
    .more{
        display:inline-block;
        flex-direction:row;
        width:250px;
        height:64px;
        font-size:36px;
        margin-top:40px;
        margin-left:50px;    
        color:#FFFFFF;
        font-family:Microsoft JhengHei;
        
    }
    .smallps4{
        width:50px;
    }
    .smallps4logo{
        width:30px;
    }
    
    
    .fbicon{
        display: inline-block;
        width:34px;
        height: 34px;
        margin-top:20px;
        margin-left:5%;
        flex-grow: unset;
    }
    .yticon{
        display: inline-block;
        width:34px;
        height: 34px;
        margin-top:20px;
        margin-left:5px;
    }
    .capcomlogo{
        display: inline-block;
        width: 187px;
        height: 34px;
        margin-top:20px;
        margin-left:40%;
        justify-content: flex-end;
    }
    .capaomword{
        font-size:0px;
        font-family:Microsoft JhengHei;
        color: #FFFFFF;
      margin-right:0px;
      opacity:0.0;
    }
    .footerword{
        display: inline-block;
        font-family:Microsoft JhengHei;
        color: #FFFFFF;
        opacity:0.0;
    }
    .monster:hover{
        color:#99FFFF;
    }  
}
@media (max-width:320px){
    html{
        max-width:320px;
        min-width:320px;
        margin:auto;
        background-color:#CCEEFF ;
        background-image: url(../img/MHWIB_BG.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    #menuToggle
    {
      display: block;
      position: relative;
      top: 10px;
      left: 10px;
      
      z-index: 10;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: #99FFFF;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 20; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 16.5px;
      height: 2px;
      margin-bottom: 1.5px;
      position: relative;
      
      background: #000000;
      border-radius: 3px;
      
      z-index: 10;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {z-index:30;
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #76DEFF;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
     #menu
     {
       position: absolute;
       width: 150px;
       margin: -100px 0 0 -50px;
       padding-left: 50px;
       padding-right: 20px;
       padding-top: 150px;
       padding-bottom: 350px;
       background: #ffffff;
       list-style-type: none;
       -webkit-font-smoothing: antialiased;
       /* to stop flickering of text in safari */
       z-index:10;
       transform-origin: 0% 0%;
       transform: translate(-100%, 0);
       
       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     }
     
     #menu li
     {
        z-index:10;
       padding: 15px ;
       font-size: 20px;
     }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }

    header{
        max-width:320px;
        min-width:320px;
    }
    body{
        max-width:320px;
        min-width:320px;
    }
    footer{
        max-width:320px;
        min-width:320px;
    }
    .container{
        max-width:320px;
        min-width:320px;
    }
    .logo{
        width:38px;
        height:22px;
        margin-left: 700%;
    }
    
    .titlebar{
        display:flex;
        background-color:#FFFFFF;
        max-width:320px;
        height:22px;  
    }
    .cover{
        width:320px;
    }
    .coverbar{
        width:320px;
        display:flex;
        flex-direction:column;
    }
    .mainmonster{
        display:flex;
        flex-wrap:wrap;
        max-width:320px;
        width:100%;
        margin-top: 30px;
        padding-left:5%;
        padding-right:5%;
    }
    .monstericon{
        width:100%;
        
    }
    .monsterbox{
        display:flex;
        flex-direction:column;
        width:44%;
        margin-right:3%;
        margin-bottom:5px;
    }
    .back{
        display: inline-block;
        width: 100%;
        height:25px;
        margin-top: 0px;
        margin-bottom: 10px;
        background-image:url(../img/introbg2.png);
        background-size:200% 100%;
    }
    .backword{
        margin: 0px;
        font-size:15px;
        padding-left:45%;
        padding-top:3%;
        font-family:"DFKai-SB";
        color: whitesmoke;
    }
    .backbox{
        display:flex;
        flex-direction:column;
        width:40%;
        margin-left:50%;
    }
    .monsterintro{
        display: inline-block;
        width: 100%;
        height:20px;
        margin-top: 10px;
        margin-right: 3%;
        background-image:url(../img/introbg2.png);
        background-size:100% 100%;
        
    }
    .monsterword{
        margin: 0px;
        padding-top:2%;
        font-size:15px;
        font-family:serif;
       font-weight: bold;
        color: whitesmoke;
        text-align: center;
    }


    .footer{
        display:flex;
        max-width:320px;
        background-color: #000000;
        height:10px;
        justify-content: flex-end;
        margin-top:0px;
    }
    
    .footer2{
       display:flex;
       max-width:320px;
       background-color: #000000;
       height:24px;
       justify-content: space-around;
       margin-top:10px;
    }
    .more{
        display:inline-block;
        flex-direction:row;
        width:250px;
        height:64px;
        font-size:36px;
        margin-top:40px;
        margin-left:50px;    
        color:#FFFFFF;
        font-family:Microsoft JhengHei;
        
    }
    .smallps4{
        width:50px;
    }
    .smallps4logo{
        width:30px;
    }
    
    
    .fbicon{
        display: inline-block;
        width:15px;
        height: 15px;
        margin-top:9px;
        margin-left:5%;
        flex-grow: unset;
    }
    .yticon{
        display: inline-block;
        width:15px;
        height: 15px;
        margin-top:9px;
        margin-left:5px;
    }
    .capcomlogo{
        display: inline-block;
        width: 82px;
        height: 15px;
        margin-top:9px;
        margin-left:40%;
        justify-content: flex-end;
    }
    .capaomword{
        font-size:0px;
        font-family:Microsoft JhengHei;
        color: #FFFFFF;
      margin-right:0px;
      opacity:0.0;
    }
    .footerword{
        display: inline-block;
        font-family:Microsoft JhengHei;
        color: #FFFFFF;
        opacity:0.0;
    }
    .monster:hover{
        color:#99FFFF;
    }
}